<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="container" *ngIf="quote">
    <div class="quote" [id]="quote.id" [ngStyle]="{ 'background-image': 'url(' + quote?.url + ')' }" (click)="showAnother()">
      <p class="quote-text" [style.fontSize.px]="getFontSize(quote?.quoteText)">{{ displayedQuote }}</p>
      <p class="quote-author link" (click)="navigateByQuotedBy(quote?.quotedBy)">{{ displayedAuthor }}</p>
    </div>
  </div>
  <div class="container" *ngIf="quote">
    <ion-button class="top-margin" fill="clear" (click)="playPause()">
      <ion-icon name="play-circle-outline" color="medium" size="large" *ngIf="!isPlaying"></ion-icon>
      <ion-icon name="pause-circle-outline" color="success" size="large" *ngIf="isPlaying"></ion-icon>
    </ion-button>
  </div>
  <div class="container" *ngIf="quote">
    <ion-button class="top-margin" shape="round" fill="clear" (click)="showAnother()" *ngIf="isClickable && !isPlaying">
      Show another one
    </ion-button>
  </div>
</ion-content>