<app-header [isPostQuoteDisplayed]="false"></app-header>

<ion-content [fullscreen]="true">
  <div class="container" *ngIf="quote">
    <div class="quote" [id]="quote.id" [ngStyle]="{ 'background-image': 'url(' + quote?.url + ')' }" (click)="showAnother()">
      <p class="quote-text" [style.fontSize.px]="getFontSize(quote?.quoteText)">{{ quote?.quoteText }}</p>
      <p class="quote-author" [style.fontSize.px]="getFontSize(quote?.quoteText)">{{ quote?.quotedBy }}</p>
    </div>
  </div>
  <div class="container" *ngIf="quote">
    <ion-button class="top-margin" shape="round" fill="clear" (click)="showAnother()">
      Show another one
    </ion-button>
  </div>
</ion-content>