.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quote {
  width: 640px;
  height: 427px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;     /* stack items vertically */
  justify-content: center;    /* center them vertically */
  align-items: center;        /* center them horizontally */
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: background-image 1s ease;
}

.quote-text {
  margin: 100px auto auto 20px;
  color: white;
  padding-left: 10px;
  padding-right: 20px;
  font-style: italic;
}

.quote-author {
  color: gainsboro;
  align-self: flex-end;
  margin-right: 50px;
  margin-bottom: auto;
}

.link {
  cursor: pointer;
}