<app-header></app-header>

<ion-content class="ion-padding">
  <div class="center-content">
    <input type="file" accept="image/*" #fileInput hidden (change)="onFileSelected($event)" />
    <ion-avatar class="center-content larger" (click)="fileInput.click()">
      <img [src]="photoURL">
    </ion-avatar>
    <ion-item>
      <ion-input label="Display Name" labelPlacement="floating" placeholder="Display Name" [(ngModel)]="displayName"
        (ngModelChange)="userMadeChange()" />
    </ion-item>
    <div class="buttons">
      <ion-button [disabled]="!saveButtonEnabled" (click)="save()">
        save changes
      </ion-button>
    </div>
  </div>
</ion-content>