ion-card {
    max-width: 400px;
    margin: 30px auto;
}

@media (max-width: 500px) {
  ion-card {
    margin: 0px auto;
  }
}

.center {
    text-align: center;
    color: black;
}

.big-font {
    font-size: 1.2em;
}

.top-margin {
    margin-top: 20px;
}

.top-half {
  height: 200px;
  overflow: hidden;
}

.top-half img {
  width: 100%;
  height: auto;
  display: block;
}

.emphasize {
  font-weight: bold;
}