i {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2em;
  text-transform: lowercase;
}

.first {
  color: darkblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second {
  color: darkolivegreen;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.small-avatar {
  width: 30px;
  height: 30px;
}

.back {
  z-index: -1;
}

.link {
  cursor: pointer;
}

@media (max-width: 500px) {
  .near {
    margin-left: -20px;
  }
}

.menu-icon {
  margin-top: 4px;
}


