<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="book-outline" color="tertiary" size="large" slot="start" class="link left-margin"
      (click)="navigateHome()"></ion-icon>
    <ion-title (click)="navigateHome()" class="link">
      <span class="first"><i>qout</i></span>
      <span class="second"><i>able</i></span>
    </ion-title>
    <ion-button (click)="post()" slot="end" fill="clear">
      Post a quote
    </ion-button>
    <ng-content>
      <ng-container *ngIf="isLoggedIn">
        <ion-avatar class="small-avatar back" slot="end">
          <img [src]="photoURL" />
        </ion-avatar>
        <ion-button (click)="logout()" slot="end" fill="clear">
          Logout
        </ion-button>
      </ng-container>
      <ion-button *ngIf="!isLoggedIn" (click)="goToLogin()" slot="end" fill="clear">
        Login
      </ion-button>
    </ng-content>
  </ion-toolbar>
</ion-header>