i {
  display: inline-block;
  vertical-align: middle;
  text-transform: lowercase;
  margin-top: -7px;
}

.first {
  color: darkblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.second {
  color: darkolivegreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.small-avatar {
  width: 30px;
  height: 30px;
}

.back {
  z-index: -1;
}

.link {
  cursor: pointer;
}

@media (max-width: 500px) {
  .near {
    margin-left: -18px;
  }
}

.bigger {
  font-size: 24px;
}

