<app-header></app-header>

<ion-content #content>
  <div class="queries">
    <ion-button size="small" shape="round" [fill]="newestFill" color="secondary" class="thin-border"
      (click)="showNewestQuotes()">
      newest
    </ion-button>
    <ion-button size="small" shape="round" [fill]="topLikesFill" color="secondary" class="thin-border"
      (click)="showTopQuotes()">
      most liked
    </ion-button>
    <ion-button size="small" shape="round" [fill]="topLikesByMeFill" color="secondary" class="thin-border"
      (click)="showTopQuotesILiked()" *ngIf="isLoggedIn">
      liked by me
    </ion-button>
    <ion-button size="small" shape="round" [fill]="postedByMeFill" color="secondary" class="thin-border"
      (click)="showQuotesPostedByMe()" *ngIf="isLoggedIn">
      posted by me
    </ion-button>
    <ion-button size="small" shape="round" [fill]="myOwnQuotesFill" color="secondary" class="thin-border"
      (click)="showMyOwnQuotes()" *ngIf="isLoggedIn">
      my own quotes
    </ion-button>
    <ion-button size="small" shape="round" [fill]="privateQuotesFill" color="secondary" class="thin-border"
      (click)="showPrivateQuotes()" *ngIf="isLoggedIn">
      my non-public quotes
    </ion-button>
  </div>
  <div class="container">
    <div class="quote" *ngFor="let quote of quotes"
      [ngStyle]="{ 'background-image': 'url(' + quote?.url + ')' }">
      <p class="quote-text" [style.fontSize.px]="getFontSize(quote?.quoteText)">{{ quote?.quoteText }}</p>
      <p class="quote-author link" [style.fontSize.px]="getFontSize(quote?.quoteText)"
        (click)="showQuotesByQuotedBy(quote?.quotedBy)">{{ quote?.quotedBy }}</p>
      <div class="author-row">
        posted by {{quote.displayName}} on {{quote.created?.toDate()| date:'MMM d, y, h:mm:ss a'}}
      </div>
      <div class="button-row">
        <ion-button color="transparent" size="small" class="button icon-button-with-badge" shape="round"
          (click)="likingQuote(quote)">
          <ion-icon [name]="getLikeIconName(quote)" color="light" class="icon"></ion-icon>
          <ion-badge color="transparent" slot="end">{{quote.likesCount}}</ion-badge>
        </ion-button>
        <ion-button color="transparent" size="small" class="button" shape="round" *ngIf="isMyPost(quote)"
          [routerLink]="['/tabs', 'quote', quote.id]">
          <ion-icon name="pencil" color="light" class="icon"></ion-icon>
        </ion-button>
        <ion-button color="transparent" size="small" class="button" shape="round" *ngIf="isMyPost(quote)"
          (click)="delete(quote)">
          <ion-icon name="trash-outline" color="light" class="icon"></ion-icon>
        </ion-button>
        <ion-button color="transparent" size="small" class="button" shape="round" (click)="navigateToOneQuote(quote.id)">
          <ion-icon name="expand-outline" class="icon"></ion-icon>
        </ion-button>
        <ion-button color="transparent" size="small" class="button" shape="round" (click)="share(quote)">
          <ion-icon name="share-social-outline" color="light" class="icon"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="isShowMoreVisible">
    <ion-button class="top-margin" shape="round" fill="clear" (click)="showAll()">
      See all {{quoteCount}} quotes
    </ion-button>
  </div>
</ion-content>