<app-header></app-header>

<ion-content>
  <div class="container">
    <div class="quote" *ngFor="let item of imageItems" [ngStyle]="{ 'background-image': 'url(' + item.url + ')',}">
      <p class="quote-text">This is the text of the quote This is the text of the quote This is the text of the quote This is the text of the quote</p>
      <p class="quote-author">Author</p>
      <div class="button-row">
        <ion-button color="transparent" size="small" class="button" (click)="likingQuote()">
          <ion-icon name="heart-outline" color="danger" class="icon"></ion-icon>
        </ion-button>
        <ion-button color="transparent" size="small" class="button">
          <ion-icon name="chatbubbles-outline" color="warning" class="icon"></ion-icon>
        </ion-button>
        <ion-button color="transparent" size="small" class="button" *ngIf="isFacebookLogin">
          <ion-icon name="logo-facebook" color="tertiary" class="icon"></ion-icon>
        </ion-button>
        <ion-button color="transparent" size="small" class="button" *ngIf="isMyPost" [routerLink]="['/tabs', 'quote', '1']">
          <ion-icon name="pencil" color="success" class="icon"></ion-icon>
        </ion-button>
        <ion-button color="transparent" size="small" class="button" *ngIf="isMyPost">
          <ion-icon name="trash-outline" color="danger" class="icon"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>