.container {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  justify-content: center;
}

.quote {
  width: 490px;
  height: 327px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;     /* stack items vertically */
  justify-content: center;    /* center them vertically */
  align-items: center;        /* center them horizontally */
  font-size: 1.4em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote-text {
  margin: 77px 20px 10px 20px;
  color: gainsboro;
}

.quote-author {
  color: white;
  align-self: flex-end;
  margin-right: 50px;
}

.button-row {
  margin-top: auto;
  align-self: flex-bottom;
}

.button {
  background-color: rgba(255, 255, 255, 0.2);
}

.icon {
  font-size: 22px;
}

.queries {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.thin-border {
  --border-width: 1px;
}