.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quote {
  width: 135px;
  height: 90px;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.edit-quote {
  width: 375px;
  height: 250px;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
}

div.quote:hover {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px white;
}

.label {
  font-size: 1.3em;
}

.quote-input {
  width: 400px;
  margin: 0 auto;
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.preview-quote {
  width: 490px;
  height: 327px;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;     /* stack items vertically */
  justify-content: center;    /* center them vertically */
  align-items: center;        /* center them horizontally */
  margin-left: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote-text {
  margin: 77px 20px 10px 20px;
  color: gainsboro;
}

.quote-author {
  color: white;
  align-self: flex-end;
  margin-right: 50px;
  margin-bottom: auto;
}

.bottom-margin {
  margin-bottom: 10px;
}
