<app-header></app-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!imageItemSelected && !isPreview">
    <div class="label ion-text-center bottom-margin">
      Please select background image for the quote
    </div>
    <div class="container">
      <div class="quote" *ngFor="let item of imageItems" (click)="backgroundSelected(item)"
        [ngStyle]="{ 'background-image': 'url(' + item.url + ')',}">
        <span class="invisible">{{item.url}}</span> 
      </div>
    </div>
  </div>
  <div *ngIf="imageItemSelected && !isPreview">
    <div class="container" (click)="doRandomImageSelect()">
      <div class="edit-quote" [ngStyle]="{ 'background-image': 'url(' + imageItemSelected.url + ')' }">
      </div>
    </div>
    <div class="label ion-text-center">
      <ion-button shape="round" fill="clear" (click)="selectBackgroundAgain()">
        other images
      </ion-button>
    </div>
    <div class="quote-input">
      <ion-item>
        <ion-label position="stacked" class="label">Quote</ion-label>
        <ion-textarea rows="3" autoGrow="true" placeholder="The text of the quote" [(ngModel)]="quoteText"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-icon name="person-outline" slot="end"></ion-icon>
        <ion-input label="Quoted by (leave empty if the quote is your own saying)" labelPlacement="floating"
          placeholder="The name of the person the quote is attributed to" [(ngModel)]="quotedBy" />
      </ion-item>
      <ion-item>
        <ion-checkbox labelPlacement="end" [(ngModel)]="isHumorous">Is the quote humorous?</ion-checkbox>
      </ion-item>
      <div class="buttons">
        <ion-button (click)="cancel()" color="light">
          Cancel
        </ion-button>
        <ion-button (click)="preview()">
          Preview
        </ion-button>
      </div>
    </div>
  </div>
  <div *ngIf="isPreview">
    <div class="container">
      <div class="preview-quote" [ngStyle]="{ 'background-image': 'url(' + imageItemSelected.url + ')' }">
        <p class="quote-text" [style.fontSize.px]="fontSize">{{quoteText}}</p>
        <p class="quote-author">{{quotedBy}}</p>
      </div>
    </div>
    <div class="buttons">
      <ion-button (click)="cancel()" color="light">
        Cancel
      </ion-button>
      <ion-button (click)="goBackFromPreview()" color="success">
        Go back
      </ion-button>
      <ion-button (click)="publish()">
        Publish
      </ion-button>
    </div>
  </div>
</ion-content>