<ion-app>
  <!-- Global Side Menu -->
  <ion-menu contentId="main-content" side="start" menuId="main-menu">
    <ion-list>
      <ng-container *ngIf="isLoggedIn">
        <ion-menu-toggle autoHide="true">
          <ion-item lines="none">
            <ion-avatar (click)="getToProfile()" class="avatar link">
              <img [src]="photoURL" />
            </ion-avatar>
          </ion-item>
        </ion-menu-toggle>
      </ng-container>
      <ion-menu-toggle autoHide="true">
        <ion-item routerLink="/tabs/home" routerLinkActive="selected">
          <ion-icon name="home-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="secondary">Home</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="true">
        <ion-item routerLink="/authors" routerLinkActive="selected">
          <ion-icon name="accessibility-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="secondary">Quoted</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="true">
        <ion-item routerLink="/quotes" routerLinkActive="selected">
          <ion-icon name="book-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="secondary">Quotes</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle autoHide="true">
        <ion-item (click)="share()" class="link">
          <ion-icon name="share-social-outline" slot="start" color="secondary"></ion-icon>
          <ion-label color="secondary">Share this with friends</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-menu>

  <!-- Main app content -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>