.count-label {
  font-size: 0.9em;
  margin-left: 10px;
}

ion-content, ion-list {
  height: 100%;
}

.quote {
  font-size: 0.9em;
  color:black;
}

.author {
  font-size: 0.9em;  
  color:cadetblue;
}

.link {
  cursor: pointer;
}

