.container {
  margin: 0;
  display: flex;
  justify-content: center;
}

ion-content, ion-list {
  height: 100%;
  overflow: auto;
}

// ul {
//   list-style: none;
//   padding: 0;
//   text-align: left;
// }

.link {
  cursor: pointer;
  color: navy;
}
