<app-header [isPostQuoteDisplayed]="false"></app-header>

<ion-content class="ion-padding">
  <div>
    <div class="flex-container ion-padding">
      <ion-button color="transparent" size="small" (click)="sortByName()">
        <ion-icon name="filter-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button color="transparent" size="small" (click)="sortByCount()">
        <ion-icon name="filter-outline" color="primary"></ion-icon>
      </ion-button>
    </div>
    <ion-list>
      <ion-item class="link" *ngFor="let person of authors | async" (click)="navigateByQuotedBy(person.name)">
        <div class="flex-container">
          <div>{{ person.name }}</div>
          <div>{{ person.count }}</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>