.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

ion-content, ion-list {
  height: 100%;
  overflow: auto;
}

// ul {
//   list-style: none;
//   padding: 0;
//   text-align: left;
// }

.link {
  cursor: pointer;
  color: navy;
}
