<app-header></app-header>

<ion-content class="ion-padding">
  <div>
    <div class="flex-container">
      <ion-button color="transparent" fill="clear" size="small" (click)="sortByNameCommand()">
        Quoted By<ion-icon color="primary" [name]="sortByNameIcon"></ion-icon>
      </ion-button>
      <ion-button color="transparent" fill="clear" size="small" (click)="sortByCountCommand()">
        {{ total | async }} quotes<ion-icon color="primary" [name]="sortByCountIcon"></ion-icon>
      </ion-button>
    </div>
    <ion-list>
      <ion-item class="link" *ngFor="let person of authors | async" (click)="navigateByQuotedBy(person.name)">
        <div class="flex-container">
          <div>{{ person.name }}</div>
          <div>{{ person.count }}</div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>