.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quote {
  width: 640px;
  height: 427px;
  background-blend-mode: overlay;
  //background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;     /* stack items vertically */
  justify-content: center;    /* center them vertically */
  align-items: center;        /* center them horizontally */
  font-size: 1.5em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.quote-text {
  margin: 100px 20px auto 20px;
  //color: white;
}

.quote-author {
  //color: gainsboro;
  align-self: flex-end;
  margin-right: 50px;
  margin-bottom: auto;
}

.button-row {
  text-align: center;
  width: 100%;
  margin-top: 1px;
}

.author-row {
  margin-top: auto;
  font-size: 12px;
  color: black;
}

.icon {
  font-size: 22px;
}

.top-margin {
  margin-top: 10px;
}

.link {
  cursor: pointer;
}