<app-header [isPostQuoteDisplayed]="false"></app-header>

<ion-content [fullscreen]="true">
  <div class="container" *ngIf="quote">
    <div class="quote" [id]="quote.id" [ngStyle]="{ 'background-image': 'url(' + quote?.url + ')' }">
      <p class="quote-text" [style.fontSize.px]="getFontSize(quote?.quoteText)">{{ quote?.quoteText }}</p>
      <p class="quote-author" [style.fontSize.px]="getFontSize(quote?.quoteText)">{{ quote?.quotedBy }}</p>
    </div>
  </div>
  <div class="container" *ngIf="quote">
    <div class="author-row">
      posted by {{quote.displayName}} on {{quote.created?.toDate()| date:'MMM d, y, h:mm:ss a'}}
    </div>
    <div class="button-row">
      <ion-button color="light" size="small" class="button icon-button-with-badge" shape="round"
        (click)="likingQuote(quote)">
        <ion-icon [name]="getLikeIconName(quote)" color="danger" class="icon"></ion-icon>
        <ion-badge color="transaparent" slot="end">{{quote.likesCount}}</ion-badge>
      </ion-button>
      <ion-button color="light" size="small" class="button" shape="round" (click)="share(quote)">
        <ion-icon name="share-social-outline" color="tertiary" class="icon"></ion-icon>
      </ion-button>
      <ion-button color="light" size="small" class="button" shape="round" (click)="downloadImage(quote)">
        <ion-icon name="cloud-download-outline" color="primary" class="icon"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div class="container" *ngIf="quote">
    <ion-button class="top-margin" shape="round" fill="clear" routerLink="/tabs">
      See other quotes
    </ion-button>
  </div>
</ion-content>