  <div class="queries">
    <ion-button size="small" shape="round" [fill]="newestFill" color="secondary" class="thin-border"
      (click)="showNewestQuotes()">
      newest
    </ion-button>
    <ion-button size="small" shape="round" [fill]="topLikesFill" color="secondary" class="thin-border"
      (click)="showTopQuotes()">
      most liked
    </ion-button>
    <ion-button size="small" shape="round" [fill]="topLikesByMeFill" color="secondary" class="thin-border"
      (click)="showTopQuotesILiked()" *ngIf="isLoggedIn">
      liked by me
    </ion-button>
    <ion-button size="small" shape="round" [fill]="postedByMeFill" color="secondary" class="thin-border"
      (click)="showQuotesPostedByMe()" *ngIf="isLoggedIn">
      posted by me
    </ion-button>
    <ion-button size="small" shape="round" [fill]="myOwnQuotesFill" color="secondary" class="thin-border"
      (click)="showMyOwnQuotes()" *ngIf="isLoggedIn">
      my own quotes
    </ion-button>
    <ion-button size="small" shape="round" [fill]="privateQuotesFill" color="secondary" class="thin-border"
      (click)="showPrivateQuotes()" *ngIf="isLoggedIn">
      my non-public quotes
    </ion-button>
    <ion-button size="small" shape="round" fill="fill" color="secondary" (click)="showAuthors()">
      people
    </ion-button>
  </div>