<div class="quote" [ngStyle]="{ 'background-image': 'url(' + quote?.url + ')',}">
  <p class="quote-text" [style.fontSize.px]="getFontSize(quote?.quoteText)">{{ quote?.quoteText }}</p>
  <p class="quote-author" [style.fontSize.px]="getFontSize(quote?.quoteText)">{{ quote?.quotedBy }}</p>
  <div class="author-row">
    posted by {{quote.displayName}} on {{quote.created?.toDate()| date:'MMM d, y, h:mm:ss a'}}
  </div>
  <div class="button-row">
    <ion-button color="light" size="small" class="button icon-button-with-badge" shape="round"
      (click)="likingQuote(quote)">
      <ion-icon [name]="getLikeIconName(quote)" color="danger" class="icon"></ion-icon>
      <ion-badge color="light" slot="end">{{quote.likesCount}}</ion-badge>
    </ion-button>
  </div>
</div>